<!DOCTYPE html>
<html>
  <head>
    <!-- Tab Title -->
    <title>Burger</title>

    

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script src="https://kit.fontawesome.com/f51a04bc22.js"></script>
    
    <!-- Custom CSS Styling -->
    <link rel="stylesheet" href="assets/css/burger_style.css">

  </head>

  <body>

    <!-- Page Container -->
    <div class="main-container">
    
        <center>
        <div class="jumbotron1">
            <div class="wrapper">
                <div class="card1">
                    <h1>
                    <span class="enclosed">Mega Burger</span>
                    </h1>
                </div>
            </div>  
        </div>
        </center>     
      
    
    
    

      <br>
      

      <!-- Burger Content from index.handlebars -->
      {{{body}}}


      <br><br>

      <!-- Input New Burgers Form -->
      <form action="burger/create" method="POST"> 
        
        <!-- Text Area Input -->
       
         

          <!-- Burger Input Box -->
      <div class="left2"></div>
        <div class="card bg-light mb-3" style="width: 500px;">
            <div class="card-header">Place Your Order</div>
            <div class="card-body">
                <div class= new-order>
                <label for="new_burger" class="submitFont">New Order</label>
                <textarea class="form-control" type="text" id="new_burger required value="" name="burger_name"></textarea>
             </div>
    
        </div>
        
       

         
         
      
        <!-- Submit Button -->
        <center>
          <button id="submit-button" type="submit" class="btn btn-danger"><i class="fas fa-hamburger"></i></button>
        </center>
      </form>
      <br>
    </div>
  </body>
</html> 

 {{!-- <center><label for="new_burger" class="submitFont">New Order</label></center>
            <textarea class="form-control" type="text" id="new_burger required value="" name="burger_name"></textarea> --}}

{{!-- <div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">New Order</div>
  <div class="card-body">
     <div class= new-order>
            <label for="new_burger" class="submitFont">New Order</label>
            <textarea class="form-control" type="text" id="new_burger required value="" name="burger_name"></textarea>
    </div>
    
  </div>
</div> --}}